/vendor/
/node_modules/
.env
.phpunit.result.cache
/storage/*.key
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
/public/storage
.idea/
*.log
*.sqlite
.DS_Store
npm-debug.log
yarn-error.log
composer.lock